# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# Datos e imágenes generadas (No se commitean, se generan con el código)
data/processed/
reports/figures/